.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 20px 0;
    font-weight: bold;
}

.chatContainer{
    margin: 10px 0;
    height: 440px;
    overflow-y: scroll;
}

.chatContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.msgContainer{
    padding: 10px 20px;
    background: #000;
    margin: 5px 10px;
    border-radius: 10px;
}

.msgSender{
    font-weight: 600;

}

.inputBtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 250px;
}

.sendBtn{
    border: none;
    outline: none;
    margin-left: -40px;
    border-radius: 80px;
}

.btnImg{
    width: 24px;
    background-color: #ffffff;

}