.cardWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.text {
    font-size: 22px;
    line-height: 1.6;
    color: #C4C5C5;
    margin-bottom: 30px;
}

.signinWrapper {
    margin-top: 20px;
}

.hasInvite {
    color: #0077FF;
}