.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.bottomParagraph {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;}

.actionButtonWrap {
    margin-top: 10px;
}

.error{
    color: red;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin-right: 70px;
    display: flex;
    margin-bottom: -10px;
    margin-top: 5px;
   
  }