html {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background: #121212;
  font-family: 'Nunito', sans-serif;
  color: #fff;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 8rem; */
  min-height: calc(100vh - 140vh);
}

.CodeMirror {
  min-height: calc(100vh - 80px);
  font-size: 20px;
  line-height: 1.6;
  padding-top: 20px;
}