.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.bottomParagraph {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 150px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #C4C5C5;
    opacity: 0.8;
}

.actionButtonWrap {
    margin-top: 10px;
}

.error{
    color: red;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    margin-right: 60px;
    display: flex;
    margin-bottom: -10px;
    margin-top: 5px;
   
  }