.container_box {
    padding: 20px 60px;
}

.heading_container {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-size: 22px;
    border-bottom: 4px solid #0077ff;
}

.leave_button {
    background: #262626;
    border-radius: 50px;
    color: #cc2121;
    padding: 10px 30px;
    font-weight: 700;
}

.profile_container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navRight {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.avatar {
    border: 3px solid #014a9c;
    border-radius: 50%;
    object-fit: cover;
    width: 80px;
    height: 80px;
}

.usernames {
    margin-left: 20px;
    text-align: left;
}

.userhandle {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #C4C5C5;
}

.follow_button {
    background: #262626;
    border-radius: 50px;
    color: #5c5757;
    padding: 10px 30px;
    font-weight: 700;
    margin: 0 30px 0 20px;
}

.number_container {
    background: #1D1D1D;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: contain;
    padding: 18px 40px;
    margin-top: 10px;
    gap: 50px;
}

.number {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

    /* Primary text */

    color: #FFFFFF;
}

.number_text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    /* Secondary text */

    color: #C4C5C5;

}

.content{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #C4C5C5;
    width: 360px;
    margin-top: 20px;
    margin-left: 10px;
}